<!--<a href="#"><i class="icon-film"></i> <%= video.position %>. <%= video.title %></a>-->
<a href="#">
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"><i class="icon-film"></i> <%= video.title %></h4>
      <%= video.collection.name rescue nil %>
    </div>
  </div>
</a>

