<div class="row">
  <!--left menu-->
  <div class="span2">
    <%= render 'layouts/top' %>
  </div>
  <!--body-->
  <div class="span8">
    <div class="content">
      <!--player and title-->
      <div class="row">
        <%= render 'layouts/player' %>
      </div>
      <!--comments-->
      <div class="row">
        <%= render 'layouts/comments' %>
      </div>
    </div>
  </div>
  <!--right menu-->
  <div class="span2">
    <h2>Right Menu</h2>
    <%= render 'layouts/suggestions' %>
  </div>
</div>