// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#searchBoxOne input.search {
  font-size: 16px;
  color: #999;
  padding: 6px;
  -moz-box-shadow:inset 2px 2px 5px #ccc;
  box-shadow:inset 2px 2px 5px #ccc;
  border: 1px solid #b8b8b8;
}
#searchBoxOne input.submit {
  background: url(images/01_submit.png) top left no-repeat;
  width: 67px;
  height: 32px;
  border: none;
  color: #dee4ff;
  cursor: pointer;
}
#searchBoxOne input.submit:hover,
#searchBoxOne input.submit.hover {
  background: url(images/01_submit.png) bottom left no-repeat;
}