<div id="videoTitle">
  <div id="thumbnails" >
    <%= image_tag("BBT.png", alt: "Rails") %>
  </div>
  <div id="title">
    <h3>The Big Bang Theory</h3>
    <h4>Saison  <%=  @videoCurrent.season %> </h4>
    <br>
    <h3 id="tagTitle"><%= @videoCurrent.title %></h3>
  </div>
</div>