<ul class="nav nav-list">
  <li class="nav-header">Recent</li>
  <% @videosRecent.each do |video| %>
      <li>
        <%= render video %>
      </li>
  <% end %>
</ul>
<ul class="nav nav-list">
  <li class="nav-header">Top Rated</li>
  <% @videosRated.each do |video| %>
      <li>
        <%= render video %>
      </li>
  <% end %>
</ul>